p{
	color: #000000;
	text-align: right;
	font-family: cursive;
	font-weight: bold;
	font-style: italic;
}

h2{	color: #000000; text-align: left;}

body {background-image: url("kitty (_´˘`_)♡.jpg");}


